.data-component table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .data-component th,
  .data-component td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
  }
  
  .data-component th {
    background-color: #f2f2f2;
    font-weight: bold;
  }