.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ship-layout {
  width: 50%;
}

.sensor-data,  
.alert-notifications,
.historical-data {
  width: 40%;
}
